body {
  background-color: #90e4f9;
  height: 100wh;
  overflow: hidden;
}

.wrapping {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 170px;
}

p {
  font-size: 40px;
  font-weight: bold;
  height: 100%;
}

.introduction {
  margin-right: 4px;
}

#excuse {
  margin-left: auto;
  margin-right: auto;
  color: blueviolet;
  font-size: 35px;
}

.btn {
  margin-top: 25px;
  color: black;
}
